html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background: linear-gradient(305deg, #ecdbff, transparent);
  padding: 15px 30px;
  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      gap: 15px;
      li {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  h1 {
    width: 40%;
    font-size: 40px;
    text-transform: uppercase;
  }
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 100px 40px;
}

.home-body {
  display: flex;
  flex-direction: column;

  .card {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    &:nth-child(even) {
      direction: rtl;
    }
    &-content {
      width: 50%;
    }
  }
}

.events-body {
  display: flex;

  .card {
    position: relative;
    margin: 0 15px;

    h2 {
      position: absolute;
      top: 40%;

      text-align: center;
      font-size: 36px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
